* {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
body {
	background-color: #12191D;
}
.container {
	position: relative;
	width: 45%;
	height: 98vh;
	background-color: #12191D;
	margin: 0 auto;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media screen and (max-width: 1000px) {
	.container {
		width: 70%;
	}
}
@media screen and (max-width: 500px) {
	.container {
		width: 90%;
		height: 70vh;
	}
}
